# Ignore everything
/*

# Allow .gitignore
!.gitignore

# Recursively allow files under ./docs for the documentation branch
!/docs/

# Regard LICENSE and README as part of the documentation
!LICENSE.md
!README.md