<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
<body>

    <!-- Image and text -->
<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">TheOpenVent API</span>
  </nav>
 
  <div class="container">
    <h1> Welcome to the Infineon OpenVent Challenge @ hackaTUM </h1>

    <h2> The OpenVent Project: </h2>
    
    <p>Please check out these links for further information about the OpenVent project:</p>
    <p><a href="https://theopenvent.com">https://theopenvent.com</a></p>
    <p><a href="https://www.github.com/mhollfelder/openvent">https://www.github.com/mhollfelder/openvent</a></p>

    <h2> Mock-up data for the hackaTUM challenge: </h2>

    <p><a href="https://api.theopenvent.com/exampledata/v2/data">https://api.theopenvent.com/exampledata/v2/data</a></p>
    <p><a href="https://api.theopenvent.com/exampledata/v2/docu">https://api.theopenvent.com/exampledata/v2/docu</a></p>

    

    <p>Please check out this page from time to time during the event for updates.</p>

    <div class="container">
        <nav class="navbar fixed-bottom navbar-light bg-faded">
            <a class="navbar-brand" >Last update: 17.04.2020, 23:10</a>
        </nav>
    </div>

</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
